
body {
	background-color: #f1f1f1;
}

#mainContainer {
	width: 100%;
}

#twittlerContainer {
	width: 50%; 
	margin: 0px auto;
}

#title {
	font-family: Roboto;
	font-size: 48px;
	font-weight: bold;  
	text-shadow: 1px 2px 2px #bbbaba;
}

#newTweetsButton {
	background: #a0c7eb;
	border-radius: 10px;
	width: 260px;
	box-shadow: 1px 2px 2px #bbbaba;
}

#newTweetsButton:hover {
	background-color: #9cbad6;
	cursor: pointer;
}

#tweetNumber {
	text-align: center;
	font-family: Roboto;
	text-shadow: 1px 2px 2px #bbbaba;

}

.tweetUser {
	color: #2a9ce5;
	cursor: pointer;
}

.at {
	color: #2a9ce5;
}

#time {
	text-align: right;
    display: inline-block;
    float: right;
    color: #666464;
}

#tweetContainer, #personalTweetContainer {
	border-style: double;
	border-color: #979696;
	border-width: 1px;
	border-radius: 3px;
	box-shadow: inset 0 0 10px #9cbad6;
	padding: 20px;
	background-color: #f7fbfb;
}

.timeago {
	padding: 3px;
}

